@model IEnumerable<CleanArchMvc.Application.DTOs.CategoryDTO>

@{
    ViewData["Title"] = "Categories Management";
}

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="Create" class="btn btn-primary">
                    <span title="Register New" class="fas fa-plus"></span> Register New
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td align="right">
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-sm btn-outline-warning">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <!--
                        <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-sm btn-outline-primary">
                            <span class="fas fa-search">Details</span>
                        </a>
                        -->
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-sm btn-outline-danger">
                            <span class="fas fa-trash-alt">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
